@import "tailwindcss";
/* Add this to your tailwind.css or global.css if you want better reuse */
.form-input {
  @apply px-2 py-1.5 w-full cursor-pointer bg-slate-100 rounded-md mt-1 text-sm;
}

/* Add to global CSS or Tailwind config */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

 